.container {
  padding: 20px 5%;

  h1 {
    color: #6859aa;
    font-weight: 300;
  }

  div {
    table {
      overflow-x: auto;
      font-size: 5px;
    }
  }

  .chip {
    border-radius: 20px;
    background-color: #6859aa;
    padding: 5px 10px;
    width: 100px;
    color: #fff;
  }
}

mat-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.hide-on-mobile {
  display: none;
}

@media (width > 1024px) {
  .column {
    display: block;
  }
}
